src/ZN_Chocolate/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="secret">
    <xs:complexContent>
      <xs:extension base="secretParent1">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent1">
    <xs:complexContent>
      <xs:extension base="secretParent57">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent57">
    <xs:complexContent>
      <xs:extension base="secretParent12">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent12">
    <xs:complexContent>
      <xs:extension base="secretParent48">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent48">
    <xs:complexContent>
      <xs:extension base="secretParent115">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent115">
    <xs:complexContent>
      <xs:extension base="secretParent96">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent96">
    <xs:complexContent>
      <xs:extension base="secretParent110">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent110">
    <xs:complexContent>
      <xs:extension base="secretParent29">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent29">
    <xs:complexContent>
      <xs:extension base="secretParent117">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent117">
    <xs:complexContent>
      <xs:extension base="secretParent60">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent60">
    <xs:complexContent>
      <xs:extension base="secretParent80">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent80">
    <xs:complexContent>
      <xs:extension base="secretParent38">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent38">
    <xs:complexContent>
      <xs:extension base="secretParent51">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent51">
    <xs:complexContent>
      <xs:extension base="secretParent19">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent19">
    <xs:complexContent>
      <xs:extension base="secretParent26">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent26">
    <xs:complexContent>
      <xs:extension base="secretParent53">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent53">
    <xs:complexContent>
      <xs:extension base="secretParent64">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent64">
    <xs:complexContent>
      <xs:extension base="secretParent71">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent71">
    <xs:complexContent>
      <xs:extension base="secretParent93">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent93">
    <xs:complexContent>
      <xs:extension base="secretParent125">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent125">
    <xs:complexContent>
      <xs:extension base="secretParent42">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent42">
    <xs:complexContent>
      <xs:extension base="secretParent9">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent9">
    <xs:complexContent>
      <xs:extension base="secretParent89">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent89">
    <xs:complexContent>
      <xs:extension base="secretParent45">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent45">
    <xs:complexContent>
      <xs:extension base="secretParent43">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent43">
    <xs:complexContent>
      <xs:extension base="secretParent88">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent88">
    <xs:complexContent>
      <xs:extension base="secretParent46">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent46">
    <xs:complexContent>
      <xs:extension base="secretParent66">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent66">
    <xs:complexContent>
      <xs:extension base="secretParent99">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent99">
    <xs:complexContent>
      <xs:extension base="secretParent120">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent120">
    <xs:complexContent>
      <xs:extension base="secretParent112">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent112">
    <xs:complexContent>
      <xs:extension base="secretParent4">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent4">
    <xs:complexContent>
      <xs:extension base="secretParent15">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent15">
    <xs:complexContent>
      <xs:extension base="secretParent10">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent10">
    <xs:complexContent>
      <xs:extension base="secretParent104">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent104">
    <xs:complexContent>
      <xs:extension base="secretParent101">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent101">
    <xs:complexContent>
      <xs:extension base="secretParent28">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent28">
    <xs:complexContent>
      <xs:extension base="secretParent98">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent98">
    <xs:complexContent>
      <xs:extension base="secretParent108">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent108">
    <xs:complexContent>
      <xs:extension base="secretParent107">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent107">
    <xs:complexContent>
      <xs:extension base="secretParent126">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent126">
    <xs:complexContent>
      <xs:extension base="secretParent41">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent41">
    <xs:complexContent>
      <xs:extension base="secretParent63">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent63">
    <xs:complexContent>
      <xs:extension base="secretParent21">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent21">
    <xs:complexContent>
      <xs:extension base="secretParent118">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent118">
    <xs:complexContent>
      <xs:extension base="secretParent56">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent56">
    <xs:complexContent>
      <xs:extension base="secretParent35">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent35">
    <xs:complexContent>
      <xs:extension base="secretParent36">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent36">
    <xs:complexContent>
      <xs:extension base="secretParent59">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent59">
    <xs:complexContent>
      <xs:extension base="secretParent34">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent34">
    <xs:complexContent>
      <xs:extension base="secretParent97">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent97">
    <xs:complexContent>
      <xs:extension base="secretParent74">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent74">
    <xs:complexContent>
      <xs:extension base="secretParent85">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent85">
    <xs:complexContent>
      <xs:extension base="secretParent3">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent3">
    <xs:complexContent>
      <xs:extension base="secretParent72">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent72">
    <xs:complexContent>
      <xs:extension base="secretParent75">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent75">
    <xs:complexContent>
      <xs:extension base="secretParent127">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent127">
    <xs:complexContent>
      <xs:extension base="secretParent54">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent54">
    <xs:complexContent>
      <xs:extension base="secretParent37">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent37">
    <xs:complexContent>
      <xs:extension base="secretParent5">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent5">
    <xs:complexContent>
      <xs:extension base="secretParent30">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent30">
    <xs:complexContent>
      <xs:extension base="secretParent102">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent102">
    <xs:complexContent>
      <xs:extension base="secretParent55">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent55">
    <xs:complexContent>
      <xs:extension base="secretParent73">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent73">
    <xs:complexContent>
      <xs:extension base="secretParent90">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent90">
    <xs:complexContent>
      <xs:extension base="secretParent76">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent76">
    <xs:complexContent>
      <xs:extension base="secretParent25">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent25">
    <xs:complexContent>
      <xs:extension base="secretParent32">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent32">
    <xs:complexContent>
      <xs:extension base="secretParent47">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent47">
    <xs:complexContent>
      <xs:extension base="secretParent14">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent14">
    <xs:complexContent>
      <xs:extension base="secretParent70">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent70">
    <xs:complexContent>
      <xs:extension base="secretParent6">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent6">
    <xs:complexContent>
      <xs:extension base="secretParent27">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent27">
    <xs:complexContent>
      <xs:extension base="secretParent61">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent61">
    <xs:complexContent>
      <xs:extension base="secretParent22">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent22">
    <xs:complexContent>
      <xs:extension base="secretParent77">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent77">
    <xs:complexContent>
      <xs:extension base="secretParent31">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent31">
    <xs:complexContent>
      <xs:extension base="secretParent84">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent84">
    <xs:complexContent>
      <xs:extension base="secretParent124">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent124">
    <xs:complexContent>
      <xs:extension base="secretParent16">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent16">
    <xs:complexContent>
      <xs:extension base="secretParent52">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent52">
    <xs:complexContent>
      <xs:extension base="secretParent69">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent69">
    <xs:complexContent>
      <xs:extension base="secretParent123">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent123">
    <xs:complexContent>
      <xs:extension base="secretParent116">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent116">
    <xs:complexContent>
      <xs:extension base="secretParent92">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent92">
    <xs:complexContent>
      <xs:extension base="secretParent62">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent62">
    <xs:complexContent>
      <xs:extension base="secretParent24">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent24">
    <xs:complexContent>
      <xs:extension base="secretParent17">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent17">
    <xs:complexContent>
      <xs:extension base="secretParent103">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent103">
    <xs:complexContent>
      <xs:extension base="secretParent65">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent65">
    <xs:complexContent>
      <xs:extension base="secretParent18">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent18">
    <xs:complexContent>
      <xs:extension base="secretParent111">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent111">
    <xs:complexContent>
      <xs:extension base="secretParent113">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent113">
    <xs:complexContent>
      <xs:extension base="secretParent106">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent106">
    <xs:complexContent>
      <xs:extension base="secretParent109">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent109">
    <xs:complexContent>
      <xs:extension base="secretParent81">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent81">
    <xs:complexContent>
      <xs:extension base="secretParent87">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent87">
    <xs:complexContent>
      <xs:extension base="secretParent105">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent105">
    <xs:complexContent>
      <xs:extension base="secretParent95">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent95">
    <xs:complexContent>
      <xs:extension base="secretParent122">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent122">
    <xs:complexContent>
      <xs:extension base="secretParent82">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent82">
    <xs:complexContent>
      <xs:extension base="secretParent49">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent49">
    <xs:complexContent>
      <xs:extension base="secretParent2">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent2">
    <xs:complexContent>
      <xs:extension base="secretParent11">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent11">
    <xs:complexContent>
      <xs:extension base="secretParent83">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent83">
    <xs:complexContent>
      <xs:extension base="secretParent39">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent39">
    <xs:complexContent>
      <xs:extension base="secretParent23">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent23">
    <xs:complexContent>
      <xs:extension base="secretParent7">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent7">
    <xs:complexContent>
      <xs:extension base="secretParent8">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent8">
    <xs:complexContent>
      <xs:extension base="secretParent94">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent94">
    <xs:complexContent>
      <xs:extension base="secretParent100">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent100">
    <xs:complexContent>
      <xs:extension base="secretParent119">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent119">
    <xs:complexContent>
      <xs:extension base="secretParent91">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent91">
    <xs:complexContent>
      <xs:extension base="secretParent121">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent121">
    <xs:complexContent>
      <xs:extension base="secretParent79">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent79">
    <xs:complexContent>
      <xs:extension base="secretParent114">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent114">
    <xs:complexContent>
      <xs:extension base="secretParent13">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent13">
    <xs:complexContent>
      <xs:extension base="secretParent33">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent33">
    <xs:complexContent>
      <xs:extension base="secretParent67">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent67">
    <xs:complexContent>
      <xs:extension base="secretParent40">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent40">
    <xs:complexContent>
      <xs:extension base="secretParent78">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent78">
    <xs:complexContent>
      <xs:extension base="secretParent50">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent50">
    <xs:complexContent>
      <xs:extension base="secretParent44">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent44">
    <xs:complexContent>
      <xs:extension base="secretParent20">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent20">
    <xs:complexContent>
      <xs:extension base="secretParent58">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent58">
    <xs:complexContent>
      <xs:extension base="secretParent68">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="secretParent68">
    <xs:complexContent>
      <xs:extension base="SadBigBoss">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SadBigBoss">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
